---
import "../../styles/global.css";
---

<h1>No Account Found</h1>
<p>
  It seems like you don't have an account yet. If you'd like, ask me to create
  you one. Your discord account has been recorded, so as soon as I create it,
  you'll be able to log in!
</p>
