<head>
  <style>
    .warning {
      background-color: #d79921;
      border-radius: 8px;
      padding: 1em 1.5em;
      margin: 0 auto 1.5em auto;
      color: #121212;
      font-weight: 500;
      text-align: left;
    }

    .warning :global(strong) {
      background: none;
      color: #121212;
    }

    .warning :global(a) {
      color: #152d8c;
    }
  </style>
</head>

<div class="warning">
  <slot />
</div>
